.video-search {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    /* height: 100%; */
}

.search-input-wrap {
    padding: 18px 0px 8px 0px;
    background-color: #000000;
    /* border-radius: 15px; */
}

.search-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
    outline: none;
    color: #ffffff;

}

.video-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    min-height: -10;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.video-list-item {
    width: 100%;
}

.vs-message {
    color: #666;
    padding: 8px 0;
}

.vs-error {
    color: #b00020;
    padding: 8px 0;
}
